@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
* {
    box-sizing: border-box;
    text-align: center;
  }

  html, body {
    height: 100%;
    width: 100%;
    color: #222;
  }
  

  img{
    max-width: 100%;  
  }

body{
    /* background-image: url("../images/earth.jpeg"); */
    background-repeat: no-repeat;
    background-size: cover;    
}


* body h1{
    font-size: 3em;
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: purple;
    opacity: 0.65; 
    margin-bottom: 1.1rem;  

  
}

.errorOne {
  color: crimson;
}
.errorTwo {
  color: crimson;
}

body h5{
    font-size: 3em;
    font-weight: bold;
    margin-top: 2rem;
  }


span{
    font-size: 1.5em;
    padding-top: 2em;

}

.label-body{
  color: black;
}
.nameText{
    color:black;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .lang{
    margin: 2em;
  }
  
  .lang2{
    margin: 2em
  }
  .lang3{
    margin: 2em;
  }

.row.name{
  font-size: 2em;
}

.bold{
  color: black;
  font-weight: bolder;
  margin-left: 1.2em;
 
}
.fa-language {
  font-size: 30px;
}
.border{
  margin: 1em;
  font-size: 2em;
  font-weight: bolder;
}

#bold{
  font-weight: bold;
}

.greeted{
  margin-right: 2em;
}

.btn-primary{
  background-color: #6648b1;
  border: 1px solid #563d7c;
}

.radio-inline {
  margin: 1.5rem;
}

.fas.fa-language{
  width: 2em;
}